<div class="action-bar">
  <div class="o-grid">
    <div class="o-grid__cell">
      <button class="hide-dialog c-button" title="Hide dialog">
        <i class="fa-solid fa-eye-slash"></i>
      </button>
    </div>
    <div class="o-grid__cell">
      <button class="show-dialog c-button" title="Show dialog">
        <i class="fa-solid fa-eye"></i>
      </button>
    </div>
    <div class="o-grid__cell">
      <button class="clear-essence c-button" title="Clear essence">
        <i class="fa-solid fa-eraser"></i>
      </button>
    </div>
    <div class="o-grid__cell">
      <button class="add-essence c-button" title="Add essence">
        <i class="fa-solid fa-square-plus"></i>
      </button>
    </div>
  </div>
</div>
