<div class="action-bar">
  <div class="o-grid o-grid--no-gutter" style="gap: 0.25rem; margin: 0 0.25rem;">
    <div class="o-grid__cell">
      <button class="clear-essence c-button" title="Clear essence">
        <i class="fa-solid fa-eraser"></i>
      </button>
    </div>
    <div class="o-grid__cell">
      <button class="show-dialog c-button" title="Show dialog">
        <i class="fa-solid fa-eye"></i>
      </button>
    </div>
    <div class="o-grid__cell">
      <button class="add-essence c-button" title="Add essence">
        <i class="fa-solid fa-square-plus"></i>
      </button>
    </div>
    <div class="o-grid__cell">
      <button class="apply-essence c-button" title="Apply essence">
        <i class="fa-solid fa-check"></i>
      </button>
    </div>
  </div>
</div>
