<div class="essence-dialog c-card u-higher u-display-flex u-flex-column">
  <header class="c-card__header u-flex-0 pb-2">
    <div class="c-heading u-xlarge">
      Essence
    </div>
  </header>

  <div class="c-card__body o-panel-container u-flex-1">
    <div class="o-panel">
      <div class="content u-display-flex u-flex-wrap">
        {{#each essence as |ess|}}
          {{#if ess.is.health}}
          <a class="c-badge c-badge--error u-large m-1 {{#if (claimedByAny ess)}}claimed{{/if}}" title="{{ess.name}}" data-idx="{{@index}}" data-type="health">
            {{#if (claimedByUser ess ../userId)}}
            <span class="fa-stack">
              <i class="fa-regular fa-circle fa-stack-2x"></i>
              <i class="fa-solid fa-heart fa-stack-1x"></i>
            </span>
            {{^}}
            <i class="fa-solid fa-heart fa-2x"></i>
            {{/if}}
          </a>
          {{/if}}

          {{#if ess.is.energy}}
          <a class="c-badge c-badge--warning u-large m-1 {{#if (claimedByAny ess)}}claimed{{/if}}" title="{{ess.name}}" data-idx="{{@index}}" data-type="energy">
            {{#if (claimedByUser ess ../userId)}}
            <span class="fa-stack">
              <i class="fa-regular fa-circle fa-stack-2x"></i>
              <i class="fa-solid fa-bolt fa-stack-1x"></i>
            </span>
            {{^}}
            <i class="fa-solid fa-bolt fa-2x"></i>
            {{/if}}
          </a>
          {{/if}}
        {{/each}}
      </div>
    </div>
  </div>
</div>
