<form class="{{cssClass}}" autocomplete="off">
  <nav class="tabs is-full">
    <a class="active">Tab 1</a>
    <a>Tab 2</a>
    <a>Tab 3</a>
  </nav>
  <div class="card">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam rhoncus orci purus, ut gravida odio.</p>
  </div>
</form>
